<!Doctype html>
<html>
  <head>
    <title>Book Search</title>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <%= erb :"partials/header" %>


    <main>

    <%= yield %>

    </main>



    <script src="main.js"></script>
  </body>
</html>